<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

       <!--数据库连接池-->
       <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
              <property name="url" value="${jdbc.url}" />
              <property name="username" value="${jdbc.username}"/>
              <property name="password" value="${jdbc.password}"/>
              <!-- 配置初始化大小、最小、最大 -->
              <property name="initialSize"><value>1</value></property>
              <property name="maxActive"><value>20</value></property>
              <property name="minIdle"><value>1</value></property>
              <!-- 配置获取连接等待超时的时间 -->
              <property name="maxWait"><value>60000</value></property>
              <!-- 配置监控统计拦截的filters -->
              <property name="filters"><value>stat</value></property>
              <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
              <property name="timeBetweenEvictionRunsMillis"><value>60000</value></property>
              <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
              <property name="minEvictableIdleTimeMillis"><value>300000</value></property>
       </bean>

       <!-- SqlSessionFactory -->
       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="mapperLocations" value="classpath:mapper/*.xml" />
              <property name="typeAliasesPackage" value="com.springmvcdemo.model" />
       </bean>

       <!-- MapperScannerConfigurer -->
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="com.springmvcdemo.mapper" />
              <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
       </bean>

       <!-- 事务管理 : DataSourceTransactionManager dataSource:引用上面定义的数据源 -->
       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource" />
       </bean>

       <!-- 使用声明式事务 transaction-manager：引用上面定义的事务管理器 -->
       <tx:annotation-driven />

</beans>